@import url("styles/header.css");

:root {
    --gray-dark: #101828;
    --gray-light: #667085;
    --gray-logo: #3A404E;
    --red: #8E2424;
    --white: #FFFFFF;
    --text-font: "Inter";
}

body {
    font-family: var(--text-font);
    font-size: 16px;
}