.logo {
    color: var(--gray-logo);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logo_imagem {
    margin: 0 0.5em 0 0;
}

.cabecalho {
    margin: 15px 32px;
}

.container,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 80px 18px 80px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav a {
    color: var(--gray-light);
    font-weight: 500;
    text-decoration: none;
}

.filler {
    width: 140px;
}

.button {
    background-color: var(--red);
    color: var(--white);
    padding: 10px 18px;
    border-radius: 8px;
}