.metricas {
    margin: 0 10em 10em 10em;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.metricas-number {
    color: var(--red);
    font-size: 60px;
    font-weight: 600;
}

.metricas-titulo {
    color: var(--gray-dark);
    font-size: 18px;
    font-weight: 500;
    margin: 1em 0;
}

.metricas p {
    color: var(--gray-light);
    font-weight: 400;
    line-height: 1.5em;
}

